body{
    margin: 0;
    padding:0;
    background: rgb(240, 151, 195);
}
nav ul{
    list-style: none;
    background-color:rgb(243, 79, 161);
    text-align: center;
    padding: 0;
    margin: 0;}
nav li{
    font-size: 22px;
    line-height: 50px;
    height: 50px;
    display: inline;
    padding: 90px;
}
nav ul li a:hover{
    color:rgb(235, 208, 108) ;
}
nav a{
    text-decoration: none;
    color: hsl(330, 24%, 93%);
}
header h2 {background-color:#f14aa6b2;}
article header  {color:hsl(334, 33%, 96%);
}
article header p{ color:#8f0e41;}
li {color:#8f0e41;}
main {
    padding-left:30px;
    padding-right:30px;
}
figcaption {
    text-align: center;
    color:#8f0e41;
    font-style: italic;
}
summary {color:#8f0e41}
table{ 
border:#8f0e41 1px solid;
border-collapse:collapse;
width:100%;
height:120px;
}
table thead {height:30%}
thead {background-color:rgb(241, 91, 166); color:#dbe6ed; text-align: center;}
tbody {background-color: #fff; color:#8f0e41; text-align: center;}
tbody tr a {color:#8f0e41;text-decoration: dashed;}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #f0449a;
    padding-bottom: 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #e72d7b;
}
.hihi:hover {background-color: rgb(243, 189, 189);}
.hi:hover {background-color: aqua;}
.hih:hover {background-color:rgb(211, 133, 223)}
.htht { width: 80%;
    margin: 20px auto;
    background-color: #dbe6ed;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
figure img {width: 500px;
    height: 300px;
    border-radius: 0px;
    shape-image-threshold: calc();
    display:block;
    margin:0 auto 20px
}
.title {color:#bf0e6a; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.gt {color:#af568b;}
.list li::before {content:"♥"; color:#cf1362;}
